@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 125 52% 91%;
    --foreground: 183 73% 8%;

    --card: 0 0% 100%;
    --card-foreground: 165 61% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 165 61% 11%;

    --primary: 165 40% 23%;
    --primary-foreground: 125 52% 91%;

    --secondary: 133 28% 64%;
    --secondary-foreground: 165 61% 11%;

    --muted: 133 28% 80%;
    --muted-foreground: 165 41% 15%;

    --accent: 133 28% 64%;
    --accent-foreground: 165 61% 11%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 133 28% 80%;
    --input: 133 28% 80%;
    --ring: 165 40% 23%;

    --radius: 1.25rem;
    
    --success: 133 28% 64%;
    --warning: 35 90% 55%;
    --info: 200 90% 55%;
    
    --dark-primary: 183 73% 8%;
    --dark-secondary: 165 61% 11%;
    --dark-tertiary: 165 41% 15%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 165 61% 11%;
    --foreground: 125 52% 91%;

    --card: 165 41% 15%;
    --card-foreground: 125 52% 91%;

    --popover: 165 41% 15%;
    --popover-foreground: 125 52% 91%;

    --primary: 133 28% 64%;
    --primary-foreground: 165 61% 11%;

    --secondary: 165 40% 23%;
    --secondary-foreground: 125 52% 91%;

    --muted: 165 40% 23%;
    --muted-foreground: 133 28% 64%;

    --accent: 165 40% 23%;
    --accent-foreground: 133 28% 64%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 165 40% 23%;
    --input: 165 40% 23%;
    --ring: 133 28% 64%;
    
    --success: 133 28% 64%;
    --warning: 35 90% 55%;
    --info: 200 90% 55%;
    
    --dark-primary: 183 73% 8%;
    --dark-secondary: 165 61% 11%;
    --dark-tertiary: 165 41% 15%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
